server {
    server_name finerds.io www.finerds.io;

    if ($host = www.finerds.io) {
        return 301 https://finerds.io$request_uri;
    }

    client_max_body_size 0;
    charset utf-8;

    index index.html index.htm index.nginx-debian.html;
    root /var/www/finerds-frontend/dist;

    access_log /var/www/finerds-frontend/logs/nginx_access.log;
    error_log /var/www/finerds-frontend/logs/nginx_error.log;

    location / {
        try_files $uri $uri/ /index.html?$args;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/finerds.io/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/finerds.io/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}server {
    if ($host = www.finerds.io) {
        return 301 https://finerds.io$request_uri;
    } # managed by Certbot

    if ($host = finerds.io) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80;
    server_name finerds.io www.finerds.io;
    return 404; # managed by Certbot
}